@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu.ttf");
}

*{
  padding: 0;
  margin: 0;
  font-family: ubuntu;
}
.option {
  margin: 3px;
}

.option img {
  max-width: 20px;
  max-height: 20px;
  -webkit-app-region: no-drag;
  pointer-events: none;
  user-select: none;
}



header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  background-color: rgba(8, 4, 4, 0.64);
  -webkit-app-region: drag;

}
