@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu.ttf");
}
::-webkit-scrollbar {
    width:0px;
}

*{
  padding: 0;
  margin: 0;
  font-family: ubuntu;
}
body {
 background: #333;
 max-height: 100vw;
 background-image: url("../img/background.png");
 background-size: cover;
 background-repeat: no-repeat;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 4%;
}
.option {
  margin: 5px;
}

.option img {
  max-width: 20px;
  max-height: 20px;
  -webkit-app-region: no-drag;
  pointer-events: none;
  user-select: none;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(106, 106, 106, 1);
  -webkit-app-region: drag;
  position: sticky;
  top: 0;

}
.bar-left {
  align-self: center;
}
.bar-right {
  display: flex;
  flex-direction: row-reverse;
}
#close:hover {
   filter: invert(30%) sepia(87%) saturate(7410%) hue-rotate(355deg) brightness(103%) contrast(124%);
  opacity: 0.77;
}
#mini:hover {
  opacity: 0.77;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(188deg) brightness(106%) contrast(101%);
}
#text_logo img {
  align-self: flex-end;

  max-width: 70px;
}


.logo{
  max-width: 90px;
  max-height: 90px;
  position: absolute;
  right: 0;
  top: 40px;
  padding: 0;

}

#header {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#main-container{
  display: flex;
}
